# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/node_modules/.cache/babel-loader/03e9a8a157b3d3597b299efcec1d1f45.json
frontend/node_modules/.cache/babel-loader/6ff55dfe7581818e7fe6cd2b64d46418.json
frontend/node_modules/.cache/babel-loader/cecb41bfe157b1d3234110b5373191d9.json
frontend/node_modules/.cache/eslint-loader/822e8d06bc22b4270cb14cb88c22204362c5ff2e.json.gz
frontend/node_modules/.cache/eslint-loader/27535bde588f7382b8f32697c6ae340c153fa606.json.gz
frontend/node_modules/.cache/eslint-loader/e0b1d658ef287fde8711e277730ffdb10ab57975.json.gz
frontend/node_modules/.cache/babel-loader/0bd964e85f16f21671c04b4edb67f4fd.json
frontend/node_modules/.cache/babel-loader/0dc886a2c58c05148dfe97cd7a78a98f.json
frontend/node_modules/.cache/babel-loader/1c141d8a54fe32b7d57725c371b9b907.json
frontend/node_modules/.cache/babel-loader/1f2c0ee20f7cb2916324fec7e9e61e59.json
frontend/node_modules/.cache/babel-loader/5e39e371c3a271657cf706dd769e73b1.json
frontend/node_modules/.cache/babel-loader/6a4547ae3b9807dbe7afeb947ff06bff.json
frontend/node_modules/.cache/babel-loader/6b5b3e835e3d5491d04269ab9d9081b5.json
frontend/node_modules/.cache/babel-loader/6ea7b5b6f02811c4a167fd25f5e0f68f.json
frontend/node_modules/.cache/babel-loader/6fccfe7a3691af98274b2f49c68da062.json
frontend/node_modules/.cache/babel-loader/7bb3ef0b0867cc82ca4265021aa6cfa1.json
frontend/node_modules/.cache/babel-loader/25e3710bbc0e1fd299af5b786f30599b.json
frontend/node_modules/.cache/babel-loader/30aeda73576db84f94374ef74ab35181.json
frontend/node_modules/.cache/babel-loader/45ed97c08fa360d49f946750886565d4.json
frontend/node_modules/.cache/babel-loader/48b0061eee1e93e9472c28e7431f6af6.json
frontend/node_modules/.cache/babel-loader/92c415bcc180d327c0aff9be96b62fdb.json
frontend/node_modules/.cache/babel-loader/94d26bc2dbcf1fbadd6ad250d67f209f.json
frontend/node_modules/.cache/babel-loader/134b16385d63a8bc2ee6d38f4cbe58b7.json
frontend/node_modules/.cache/babel-loader/459f47135ba65e8a62c1ad308ea2b4cd.json
frontend/node_modules/.cache/babel-loader/503fc36b66d9ff4ff133bee58bd89291.json
frontend/node_modules/.cache/babel-loader/819addf575d2a14a40d216372fd75acd.json
frontend/node_modules/.cache/babel-loader/07536c22c73bdad74e90f597a4de044e.json
frontend/node_modules/.cache/babel-loader/8116d74a7eba43dce7cedba768093baa.json
frontend/node_modules/.cache/babel-loader/20997cbd975495de78d95e28bd00c54d.json
frontend/node_modules/.cache/babel-loader/69396e0cba6d6e13b2448f3077afe566.json
frontend/node_modules/.cache/babel-loader/77537fd7106a0d2427e991e83f3b7f17.json
frontend/node_modules/.cache/babel-loader/648750f3385d77014583028ba331cfc2.json
frontend/node_modules/.cache/babel-loader/1196847aaf00c6eed8a0c6d97664d5bb.json
frontend/node_modules/.cache/babel-loader/a3609dce13f7a924171cfbb462a7279b.json
frontend/node_modules/.cache/babel-loader/a61629341bbc378c700fbc2cbc5265d4.json
frontend/node_modules/.cache/babel-loader/c07e16c81f2047a37dd26001a596c995.json
frontend/node_modules/.cache/babel-loader/c45c7ef14b67a956a36880d4dbd83f5a.json
frontend/node_modules/.cache/babel-loader/c98fa93e2d99c5b0cdec8a6bf0dcf2f3.json
frontend/node_modules/.cache/babel-loader/c768ef568409cfbaa2fb8936c021420f.json
frontend/node_modules/.cache/babel-loader/cce467474aa062f53ba8df06fa5209b3.json
frontend/node_modules/.cache/babel-loader/ce4a61071386168f904ba0c5fa2894ac.json
frontend/node_modules/.cache/babel-loader/e642b3caad8f619f6fe3c91aa2ccc2b7.json
frontend/node_modules/.cache/babel-loader/e782784080338fbe15983b4a73d99f95.json
frontend/node_modules/.cache/babel-loader/f7f79329320e36f06a8a732449130f2f.json
frontend/node_modules/.cache/babel-loader/f33be034945d5c6df683b707113f8463.json
frontend/node_modules/.cache/babel-loader/f65164ce5389cf7a08b820495da44d45.json
frontend/node_modules/.cache/babel-loader/fd5292b5e4e4e231543b67e0d2de85a3.json
frontend/node_modules/.cache/eslint-loader/0de83661bb016cc984545d73c5c3b2df148f55e0.json.gz
frontend/node_modules/.cache/eslint-loader/0e5f0647cb08c30bca563cd8ae34dfe21db459f2.json.gz
frontend/node_modules/.cache/eslint-loader/1e1919512187865a66d5b153d4ed4d42007c6eb4.json.gz
frontend/node_modules/.cache/eslint-loader/3a0bce386fb3e91a37db5b8750f31591a44ccf74.json.gz
frontend/node_modules/.cache/eslint-loader/3dd072a998fbd1146dd317f95fe84544d6f90a2a.json.gz
frontend/node_modules/.cache/eslint-loader/4a5110c9f34fa0731c42d1b07ddbb16518a2d969.json.gz
frontend/node_modules/.cache/eslint-loader/4d143284d0462882052177efdd11eea90f4f3f86.json.gz
frontend/node_modules/.cache/eslint-loader/4f5372a2d2a2774013f9cf1513bd6fc3598a6fe6.json.gz
frontend/node_modules/.cache/eslint-loader/5ece9dc270e671b110650672a789fb16ef171bcb.json.gz
frontend/node_modules/.cache/eslint-loader/5f9075c810b59ad0ecd55ba75d0a6a806094b39c.json.gz
frontend/node_modules/.cache/eslint-loader/7ba0d58ed03a41fbf5f5583626be953e78c97ce0.json.gz
frontend/node_modules/.cache/eslint-loader/7dba6a8c567be4b8787ade2433d0629f3876a2ae.json.gz
frontend/node_modules/.cache/eslint-loader/9dd39ff76862adbd8cab7af97ef2f631c7a81ca2.json.gz
frontend/node_modules/.cache/eslint-loader/012e57ce336fcab66f48f76599219b2d2889a936.json.gz
frontend/node_modules/.cache/eslint-loader/14acecfa2f1af42de6b10fdba43a48a5d7848b63.json.gz
frontend/node_modules/.cache/eslint-loader/34b01e45bb39c8d15eac9cc399be1c2622fb5d85.json.gz
frontend/node_modules/.cache/eslint-loader/55cd9ad40cf57bb6d36fd43ea172302ac53af39d.json.gz
frontend/node_modules/.cache/eslint-loader/58f49e8445b04705fdbf492b4be93a2b339f755d.json.gz
frontend/node_modules/.cache/eslint-loader/65c1f1b3cbe7ddc9acdd31aa3a120140bfa0ad82.json.gz
frontend/node_modules/.cache/eslint-loader/076cc284831ad2136002d0d666adfe99fc7a92cb.json.gz
frontend/node_modules/.cache/eslint-loader/99ea08731ec6cf481bf1c0fd823d40ca19a2ee8a.json.gz
frontend/node_modules/.cache/eslint-loader/159b767d95957761b19958cb98847c8cf4f6cad5.json.gz
frontend/node_modules/.cache/eslint-loader/842e2e66776c125835ea6c973e3ff9b1528cb547.json.gz
frontend/node_modules/.cache/eslint-loader/875f2915eb87c2b311f5a73150604cb21a6bf52c.json.gz
frontend/node_modules/.cache/eslint-loader/4868d9255c2cb4b1c80d113818acd62eb9319ff2.json.gz
frontend/node_modules/.cache/eslint-loader/5530c2613ab59a0d63adcef33bafef94feb496ac.json.gz
frontend/node_modules/.cache/eslint-loader/20265f52c42d7f00d0bcf494e6db7c77ace6be55.json.gz
frontend/node_modules/.cache/eslint-loader/84690a8e89429d9e15ec94b9ff3d67baf9f48734.json.gz
frontend/node_modules/.cache/eslint-loader/84760bd30e4e7f7311b25a331ebe0bbc00eea9a4.json.gz
frontend/node_modules/.cache/eslint-loader/195163a35800aa5e1fa88102738e12e048aa67f6.json.gz
frontend/node_modules/.cache/eslint-loader/536430d2b5ec8a67689b51a3567a4ac151b46bcf.json.gz
frontend/node_modules/.cache/eslint-loader/4426274a9cde5bb1024a0e787761731612b26276.json.gz
frontend/node_modules/.cache/eslint-loader/a24869d2c57ede370a3aecbba533ba3433ecf0fd.json.gz
frontend/node_modules/.cache/eslint-loader/b1d723be3fce358853acfa314f8ef24ce541f2bf.json.gz
frontend/node_modules/.cache/eslint-loader/b25beb74c22cc77ecb0236d783caf21d15936727.json.gz
frontend/node_modules/.cache/eslint-loader/b62a4eb27a50638db27018cffbdcc5ae8d3642a8.json.gz
frontend/node_modules/.cache/eslint-loader/b63d6d99b4094e1ef7fb716edec9feb00bcb8456.json.gz
frontend/node_modules/.cache/eslint-loader/c6522ff37fe198000c12abd611c687a80e46453a.json.gz
frontend/node_modules/.cache/eslint-loader/d83f0b5aac7240cde401cb30447fdd867eec5011.json.gz
frontend/node_modules/.cache/eslint-loader/ed53296cd6d841eeade41b236d1fa663c710b622.json.gz
frontend/node_modules/.cache/eslint-loader/f9e8809ec171ae275643e7c9c3e0973752502463.json.gz
frontend/node_modules/.cache/eslint-loader/fc7f0cdb9494164b13e1c6a2e98a3ff5b1ae693c.json.gz
backend/server.js
backend/server.js
frontend/public/index.html
.env
.env
.env
