# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/nod
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/node_modules/.cache/babel-loader/03e9a8a157b3d3597b299efcec1d1f45.json
frontend/node_modules/.cache/babel-loader/6ff55dfe7581818e7fe6cd2b64d46418.json
frontend/node_modules/.cache/babel-loader/cecb41bfe157b1d3234110b5373191d9.json
frontend/node_modules/.cache/eslint-loader/822e8d06bc22b4270cb14cb88c22204362c5ff2e.json.gz
frontend/node_modules/.cache/eslint-loader/27535bde588f7382b8f32697c6ae340c153fa606.json.gz
frontend/node_modules/.cache/eslint-loader/e0b1d658ef287fde8711e277730ffdb10ab57975.json.gz
